	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/04/2019 10:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon-.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: auto;
font-style: normal;
margin-left: 0;
}

.flaticon-user:before { content: "\f100"; }
.flaticon-user-1:before { content: "\f101"; }
.flaticon-key:before { content: "\f102"; }
.flaticon-password:before { content: "\f103"; }
.flaticon-key-1:before { content: "\f104"; }
.flaticon-password-1:before { content: "\f105"; }
.flaticon-mail:before { content: "\f106"; }
.flaticon-mail-1:before { content: "\f107"; }
.flaticon-mail-2:before { content: "\f108"; }
.flaticon-google-plus:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-facebook:before { content: "\f10b"; }
.flaticon-facebook-1:before { content: "\f10c"; }
.flaticon-twitter:before { content: "\f10d"; }
.flaticon-twitter-1:before { content: "\f10e"; }
.flaticon-linkedin:before { content: "\f10f"; }
.flaticon-linkedin-1:before { content: "\f110"; }
.flaticon-linkedin-2:before { content: "\f111"; }