
.section-padding{
  padding:40px 0;
}
.brand-carousel {
  background: #ffffff;
 
}
.owl-dots{
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #1A1A1A !important;
  
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: #BC293E !important;
}



/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
.owl-carousel .owl-item img {
 
  width: 90% !important;
}
